body {
  font-family: Arial, sans-serif;
  background-color: #fafafa;
  color: #333;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 500px;
  margin: 50px auto;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

h1 {
  text-align: center;
  margin-top: 0;
}

button {
  display: block;
  margin: 20px auto;
  padding: 10px 15px;
  background-color: #007BFF;
  color: #FFF;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
